# Import Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
True_news = pd.read_csv('True.csv')
Fake_news = pd.read_csv('Fake.csv')

In [3]:
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
True_news['label'] = 0
Fake_news['label'] = 1

In [5]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [6]:
Fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [7]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [8]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [9]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [10]:
dataset= pd.concat([dataset1, dataset2])

In [11]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [12]:
dataset.shape

(44898, 2)

In [13]:
#Check for null values
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [14]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [15]:
dataset = dataset.sample(frac = 1)

In [16]:
dataset

                                                    text  label
3711   WASHINGTON (Reuters) - President Donald Trump ...      0
12538  GENEVA (Reuters) - Warring sides must let more...      0
16064  President Trump has the line of the day:  The ...      1
13050  BEIJING (Reuters) - South Korean President Moo...      0
20172   He asked me if I wanted it back and I said,  ...      1
...                                                  ...    ...
9716   Wow! It s about time Roger Goodell stepped up ...      1
2864   As of Tuesday morning, it seemed that Trump wa...      1
2198   WASHINGTON (Reuters) - U.S. President Donald T...      0
12903  NEW DELHI (Reuters) - Indian Prime Minister Na...      0
20737  MADRID (Reuters) - Spanish Prime Minister Mari...      0

[44898 rows x 2 columns]

# NLP

In [17]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [18]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\msake\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
ps = WordNetLemmatizer()

In [20]:
stopwords = stopwords.words('english')

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\msake\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
def clean_row(row):
    row = row.lower()
    row = re.sub('[^a-zA-Z]',' ',row)
    
    token = row.split()
    
    news = [ps.lemmatize(word) for word in token if  not word in stopwords]
    
    cleanned_news = ' '.join(news)
    
    return cleanned_news

In [23]:
dataset['text']

3711     WASHINGTON (Reuters) - President Donald Trump ...
12538    GENEVA (Reuters) - Warring sides must let more...
16064    President Trump has the line of the day:  The ...
13050    BEIJING (Reuters) - South Korean President Moo...
20172     He asked me if I wanted it back and I said,  ...
                               ...
9716     Wow! It s about time Roger Goodell stepped up ...
2864     As of Tuesday morning, it seemed that Trump wa...
2198     WASHINGTON (Reuters) - U.S. President Donald T...
12903    NEW DELHI (Reuters) - Indian Prime Minister Na...
20737    MADRID (Reuters) - Spanish Prime Minister Mari...
Name: text, Length: 44898, dtype: object

In [24]:
dataset['text'] = dataset['text'].apply(lambda x: clean_row(x))

In [25]:
dataset['text']

3711     washington reuters president donald trump said...
12538    geneva reuters warring side must let aid get m...
16064    president trump line day previous administrati...
13050    beijing reuters south korean president moon ja...
20172    asked wanted back said veteran gave donald tru...
                               ...
9716     wow time roger goodell stepped tell player sta...
2864     tuesday morning seemed trump still obsessed si...
2198     washington reuters u president donald trump ch...
12903    new delhi reuters indian prime minister narend...
20737    madrid reuters spanish prime minister mariano ...
Name: text, Length: 44898, dtype: object

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
vectorizer = TfidfVectorizer(max_features = 50000, lowercase = False, ngram_range=(1, 2))

In [28]:
x = dataset.iloc[:35000, 0]
y = dataset.iloc[:35000, 1]

In [29]:
x.head()

3711     washington reuters president donald trump said...
12538    geneva reuters warring side must let aid get m...
16064    president trump line day previous administrati...
13050    beijing reuters south korean president moon ja...
20172    asked wanted back said veteran gave donald tru...
Name: text, dtype: object

In [30]:
y

3711     0
12538    0
16064    1
13050    0
20172    1
        ..
4623     0
19021    0
3246     0
21197    1
10447    1
Name: label, Length: 35000, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
train_data, test_data, train_label, test_label = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [33]:
vec_train_data = vectorizer.fit_transform(train_data)

In [34]:
vec_train_data = vec_train_data.toarray()

In [35]:
vec_test_data= vectorizer.fit_transform(test_data)

In [36]:
vec_test_data = vec_test_data.toarray()

In [37]:
vec_train_data.shape, vec_test_data.shape

((28000, 50000), (7000, 50000))

In [38]:
vec_train_data

array([[0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       ...,
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.0619295, ..., 0.       , 0.       ,
        0.       ]])

In [39]:
training_data =pd.DataFrame(vec_train_data, columns = vectorizer.get_feature_names())

In [40]:
testing_data = pd.DataFrame(vec_test_data, columns = vectorizer.get_feature_names())

In [41]:
training_data

,aa,aaa,aapl,aaron,ab,aba,abacha,aback,abadi,abadi said,...,zone reform,zone syria,zor,zor province,zorro,zuckerberg,zuma,zuo,zurich,zurich reuters
0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.06193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Model

In [42]:
from sklearn.naive_bayes import MultinomialNB

In [43]:
Clf = MultinomialNB()

In [44]:
Clf.fit(training_data, train_label)

MultinomialNB()

In [45]:
y_pred = Clf.predict(testing_data)

In [46]:
test_label

3181     0
17351    0
21244    1
5959     0
8800     1
        ..
1075     1
10302    1
19596    0
16209    0
20743    0
Name: label, Length: 7000, dtype: int64

In [47]:
y_pred

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [48]:
from sklearn.metrics import accuracy_score

In [49]:
accuracy_score(test_label, y_pred)

0.5984285714285714

In [50]:
y_pred_train = Clf.predict(training_data)

In [51]:
accuracy_score(train_label, y_pred_train)

0.9601071428571428

In [52]:
txt = 'The following statementsÃ‚Â were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Ã‚Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Vanity Fair, which looks like it is on its last legs, is bending over backwards in apologizing for the minor hit they took at Crooked H. Anna Wintour, who was all set to be Amb to Court of St JamesÃ¢â‚¬â„¢s & a big fundraiser for CH, is beside herself in grief & begging for forgiveness! [1024 EST] -- Source link: (bit.ly/2jBh4LU) (bit.ly/2jpEXYR)'

In [53]:
news = clean_row(txt)

In [54]:
news

'following statement posted verified twitter account u president donald trump realdonaldtrump potus opinion expressed reuters edited statement confirmed accuracy realdonaldtrump vanity fair look like last leg bending backwards apologizing minor hit took crooked h anna wintour set amb court st james big fundraiser ch beside grief begging forgiveness est source link bit ly jbh lu bit ly jpexyr'

In [55]:
pred = Clf.predict(vectorizer.transform([news]).toarray())

In [56]:
pred

array([1], dtype=int64)

In [57]:
text = input('Enter News')

news = clean_row(str(txt))
pred = Clf.predict(vectorizer.transform([news]).toarray())

Enter NewsThe number of cases of cops brutalizing and killing people of color seems to see no end. Now, we have another case that needs to be shared far and wide. An Alabama woman by the name of Angela Williams shared a graphic photo of her son, lying in a hospital bed with a beaten and fractured face, on Facebook. It needs to be shared far and wide, because this is unacceptable.It is unclear why Williams  son was in police custody or what sort of altercation resulted in his arrest, but when you see the photo you will realize that these details matter not. Cops are not supposed to beat and brutalize those in their custody. In the post you are about to see, Ms. Williams expresses her hope that the cops had their body cameras on while they were beating her son, but I think we all know that there will be some kind of convenient  malfunction  to explain away the lack of existence of dash or body camera footage of what was clearly a brutal beating. Hell, it could even be described as attempted murder. Something tells me that this young man will never be the same. Without further ado, here is what Troy, Alabama s finest decided was appropriate treatment of Angela Williams  son:No matter what the perceived crime of this young man might be, this is completely unacceptable. The cops who did this need to rot in jail for a long, long time   but what you wanna bet they get a paid vacation while the force  investigates  itself, only to have the officers returned to duty posthaste?This, folks, is why we say BLACK LIVES MATTER. No way in hell would this have happened if Angela Williams  son had been white. Please share far and wide, and stay tuned to Addicting Info for further updates.Featured image via David McNew/Stringer/Getty Images

In [58]:
if pred ==0:
    print('News is correct')
else:
    print('News is fake')

News is fake